<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='CSS/home.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poor+Story&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poor+Story&display=swap" rel="stylesheet">
	<title>Home</title>


</head>
<body>
<div class="topnav">
  <span>Hand Gesture System</span>
  <a href="/image1">Launch</a>
  <a href="/intro">Intro</a>
  <a class="active" href="/">Home</a>
</div >

<div class="box">
	<div class="gesture">
		<p>A <br><br>Gesture BasedTool <br><br>for Sterile Browsing Of <br><br>Radiology Images</p>
	</div>

	<!-- <div class="frame">
		<iframe width="420" height="220" src="https://www.youtube.com/embed/nD621G8u6oc?start=3&loop=1&autoplay=1&mute=1&controls=0"> 
      	</iframe>
      	<p class="demo">Demonstration Video</p>
	</div> -->
</div>

<p class="last">Welcome to the Future Technology</p>

</body>
</html>