<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='CSS/intro.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poor+Story&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poor+Story&display=swap" rel="stylesheet">
	<title>Intro</title>
</head>

<body>
<div class="topnav">
  <span>Hand Gesture System</span>
  <a href="/image1">Launch</a>
  <a class="active" href="/intro">Intro</a>
  <a  href="/">Home</a>
</div>

<div class="title">
	<p class="intro">INTRODUCTION</p>
</div>

<div class="container">
<span class="content"> 
       Humans are able to recognize body and sign language easily. This is possible due to the combination of vision and 
synaptic interactions that were formed along brain development.In order to replicate this skill in computers, some problems
need to be solved: how to separate objects of interest in images and which image capture technology and classification technique
are more appropriate, among others.In this project Gesture based Desktop automation ,First the model is trained pre trained on the
images of different hand gestures,such as a showing numbers with fingers as 1 ,2,3,4 . This model uses the integrated webcam to capture 
the video frame.The image of the gesture captured in the video frame is compared with  the Pre-trained model and the gesture is identified. 
If the gesture predictes is 1 then images is blurred;2, image is resized;3,image is rotated etc.
 
</span>
</div>


<center>


</body>
</html>